#よくわからんけどdreamer動かすと出るやつ
matplotlib-*
xvfb-run.*
.X*-lock
tempfile-*
#マイクラ関連っぽい
tmpt9h0w7vx
#ログ
logdir/
#一時ファイル
*.o
*.a
*.so
*.lo
*.la
*.d
*.pyc
__pycache__/
#大きなビルド済みバイナリ
*.jar
*.zip
#test/
memo.txt
